*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-size: 46px;
    line-height: 85.8%;
    color: #842D5A;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 0 0;
    align-items: center;
}


.logo__img{
    width: 143px;
    height: 57px;
}

.header__login-button{
    border: 1px solid #9F305B;
    border-radius: 10px;
    color: #9F305B;
    text-align: center;
    font-size: 16px;
    padding: 10px 40px 10px;
}

.header__register-button{
    background: #9F305B;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 31px 10px;
}


@media screen and (max-width: 1200px){
    .header__content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-bottom:250px;
}
}

.header__content{
    display: flex;
    padding: 180px 10px 0;
}

.image__notes{
    width: 590px;
	height: 421px;
}

.logo2__img{
    width: 570px;
	height: 401px;
}

.header__desription{
    margin-top: 100px;
    margin-bottom: 30px;
    width: 531px;
}

.header__button{
    background: #9F305B;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 24px;
    padding: 17px 66px 17px;
}

.download__img{
    width: 20px;
	height: 20px;
}

.table__download{
    margin-top: 20px;
}

.table__text{
    padding-left: 5px;
}



/* Footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #7D93C5;
    color: #fff;  
}

.footer__inndown{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__text-MeNote{
    font-size: 24px;
}

.footer__img-email{
    width: 24px;
    height: 18px;
    margin-top: 10px;
    margin-right: 5px;
}

.footer__text-email{
    font-size: 18px;
}

.footer__imgandemail{
    display: flex;
}


/* Footer */